body {
    padding: 0px;
    margin:0px;
    height: fit-content;
    overflow: hidden;
    overflow-y: auto;
}
.shortsL {
    position: absolute;
    top: 0%;
    left: 0%;
    height: calc(93vh / 2);
    width: 25vw;
    cursor: url('/project%20CMF/material/arrow2.png') 64 64, auto;
    z-index: 10;
}
.shortsR {
    position: absolute;
    top: 0%;
    right: 0%;
    height: 93vh;
    width: 25vw;
    cursor: url('/project%20CMF/material/arrow.png') 64 64, auto;
    z-index: 10;
}
.section {
    height: 93vh;
    width: 100vw;
}
.card {
    display: flex;
    align-items: end;
    justify-content: start;
    width: 100%;
    height: 100%;
    background: url('/project CMF/material/c80c61104d84aecf459bbcf7c41e9407.jpg') no-repeat center / cover;
}
.intro {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 300px;
    margin: 15vh 60px;
    gap: 20px;
}
.name {
  /* Основное семейство шрифта */
  font-family: "Doto", sans-serif;
  
  /* Настройка жирности (от 100 до 900) */
  font-weight: 800;
  font-size: clamp(28px, 5vw, 50px);
  /* Специфические настройки для Doto (размер и скругление точек) */
  /* Изменяйте значения 'RNDDOT' (скругление) и 'STNDOT' (размер), чтобы подогнать под стиль CMF */
    font-variation-settings: "RNDDOT" 100, "STNDOT" 55, "ROND" 600;
  
  letter-spacing: -2px;
}
.lor, p, .price {
      font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "ROND" 0;
}
button {
background: rgb(255, 61, 12);
border: none;
width: 200px;
height: 30px;
outline: none;
color: white;
font-size: 12px;
transition: all 0.2s ease;
}
button:hover {
    background-color: black;
    cursor: pointer ;
}
#buttonblock2 {
    background-color: black;
    padding: 3%;
    margin-bottom: 15%;
}
#buttonblock2:hover {
    background-color: rgb(255, 61, 12);
}
.progress-box {
    display: flex;
    align-items: end;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 100px;
    bottom: 14vh;
    z-index: 10;
    
}
main {
    display: flex;
    flex-direction: column;
}
.main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 93vh;
    width: 500vw;
}
.progress {
    position: relative;
    background-color: rgb(161, 161, 161);
    width: 100px;
    height: 7px;
    border-radius: 50vh;
    overflow: hidden;
}
.progress::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 7px;
    background-color: rgb(255, 61, 12);
    transform: scaleX(0);
    transition: all 5s linear;
    transform-origin: left;
    border-top-right-radius: 50vh;  
    border-bottom-right-radius: 50vh;
    animation: line 5s linear infinite;   
}
@keyframes line {
    to { transform: scaleX(1);}
}
.progress.clicked {
    width: 7px;
    height: 7px;
}
.ribbon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;  
    animation: ribbon  20s ease infinite;
}
@keyframes ribbon {
 0%, 25% { transform: translateX(0vw);}
 30%, 50% { transform: translateX(-100vw);}
 55%, 75% { transform: translateX(-200vw);}
 80%, 100% { transform: translateX(-300vw);}
}
header {
    position: absolute;
    top: 0%;
    width: 100vw;
    height: 80px;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;
}
.logo {
    cursor: pointer ;
    margin-left: 3%;
    height: 100%;
    width: 100px;
    background: url('/project CMF/material/logo-light-sm.png') no-repeat center / 80%;
}
#menu {
    font-weight: 500;
    color: white;
    cursor: pointer;
    margin-left: 15%;
    font-size: 15px;
}
#menu:hover {
    color:  rgb(255, 61, 12);
}
.shop {
    margin-right: 3%;
    height: 80%;
    width: 80px;
    background: url('/project CMF/material/icons8-тележка-64 White.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}
.shop:hover {
    cursor: pointer ;
    background-image: url('/project CMF/material/icons8-тележка-64 Orange.png');
}

.blockproduct {
    display: flex;
    position: relative;
    min-height: 170vh;
    height: auto;
    width: 100vw;
    background: rgb(41, 38, 38);
    flex-direction: column;
    flex-wrap: nowrap;
}
.products {
    display: flex;
    flex-direction: row;
    height: 57%;
    width: 100%;
}
.lorem {
    flex-grow: 1;
    background-color: hsl(215, 8%, 31%);
}
.watch {
    width: 33%;
    background-color: hsl(215, 8%, 31%);
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
}
.information {
    display: flex;
    flex-direction: column;
    padding: 30px;
    row-gap: 30px;
}
#watch {
    background-color: hsl(150, 2%, 60%);
}
#case {
   background-color: hsl(225, 35%, 91%); 
}
#head {
    color: whitesmoke;
}
.price {
    font-size: 20px;
}
.device  {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    opacity: 0;
    transform: scaleX(0) translateY(50vh);
    flex-wrap: nowrap;
    overflow: hidden;
    animation: divaice forwards;
    animation-timeline: view();
    animation-range-end: 50vh;
}
.dev, .dev-watch, .dev-case {
    transition: all 0.5s ease;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    background: url('/project CMF/material/c4cc337003cebe5799178abdb35d0258.png') no-repeat center / cover;
    transform: translateX(0%);
}
.dev {
    background-size: cover;
}
.dev.black {
    transform: translateX(-100%);
}
.dev.white {
    transform: translateX(0%);
}
.dev.orange {
    transform: translateX(-200%);
}

.dev-watch {
    height: 80%;
    background-size: cover;
    background-position: 100% 30%;
}
.dev-case {
    height: 80%;
    background-position: 100% 25%;
    background-size: cover;
}
.dev-case.orange {
transform: translateX(-200%);
}
.dev-case.black {
transform: translateX(-100%);
}
.dev-case.white {
transform: translateX(0%);
}
.dev-watch.white {
    transform: translateX(-100%);
}
.dev-watch.black {
    transform: translateX(0%);
}
.dev-watch.gray {
    transform: translateX(-200%);
}
.dev-watch.orange {
    transform: translateX(-300%);
}
#white-watch {
    background-image: url('/project CMF/material/b903c5b245881213539f1991a7dc673a.png');
}
#black-watch {
    background-image: url('/project CMF/material/c03e9bdad86856f671ac69ee1ea054de.png');
}
#gray-watch {
    background-image: url('/project CMF/material/4e8818a9a101a7e3a72bcec669f02371.png');
}
#orange-watch {
    background-image: url('/project CMF/material/9111f6ef15fec70092e2f92908c5e1bb.png');
}
#white-case {
    background-image: url('/project CMF/material/594e9df43f5be68df78870977d66e3f3.png');
}
#black-case {
    background-image: url('/project CMF/material/f6326174f79882b188ab05c685ada3bf.png');
}
#orange-case {
    background-image: url('/project CMF/material/fb91c1a17d330ca059d103e384a6119f.png');
}
.color-box  {
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 33%;
    top: 70vh;
    height: 50px;      
}
.color {
    width: 30px;
    height: 30px;
    background-color: rgb(255, 61, 12);
    border-radius: 50vh;
    cursor: pointer; 
}
.color.clicked {
    border: 2px solid rgb(255, 61, 12);
}
#white-color-case {
    background-color: aliceblue;
    border: 2px solid rgb(255, 61, 12);
}
#white-color-case.clicked {
    border: 0px;
}
#orange-color-case.clicked {
    border-color: rgb(255, 255, 255);
}
#black-color-case {
    background-color: black;
}
#black-color-watch {
    background-color: black;
    border: 2px solid rgb(255, 61, 12);
}
#black-color-watch.clicked {
    border: 0px;
}
#white-color-watch {
    background-color: aliceblue;
}

#gray-color-watch {
    background-color: rgb(198, 198, 199);
}
#orange-color-watch.clicked {
    border: 2px solid white;
}
#white-color-head {
    background-color: aliceblue;
    border: 2px solid rgb(255, 61, 12);
}
#black-colorhead {
    background-color: black;
}
#white-color-head.clicked {
    border: 0px;
}
#orange-color-head.clicked {
    border: 2px solid white;
}
.lorem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.block {
    padding-top: 10%;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.lir {
    height: 20%;
    width: 60%;
    flex-direction: column;
    display: flex;
    align-items: start;
    color: whitesmoke;
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "ROND" 0;
    font-size: 15px;
    margin: 0px;
    font-weight: 1000;
}
#H {
    margin: 0px;
    font-size: 30px;
    font-weight: 700;
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "ROND" 0;
}
.blockdisain {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 98vh;
}
.leftorang {
    flex-grow: 1;
    height: 100%;
    background-color: red;
    background: url('/project CMF/material/2aa16370705ffbe0a6c49d29ec21c8d3.png') no-repeat;
    background-position: 50% 50%;
    background-size: 150%;
    animation: box linear forwards;
    animation-timeline: view();
    animation-range-end: 100vh;
}
.righttext {
    line-height: 1.7;
    max-width: 700px;
    margin: 0px;
    position: absolute;
    width: 50%;
    height: 50vh;
    left: 55%;
    font-size: 14px;
    transform: translateY(60%);
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "ROND" 0;
}
#HD {
    margin: 0px;
    font-size: 45px;
    font-weight: 100;
}
.notext {
    margin-left: 10%;
    align-items: center;
    display: flex;
    width: 100vw;
    height: 120px;
    font-size: 50px;
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "ROND" 0;   
}
footer {
    height: 40vh;
    width: 100vw;
    background-color: red;
    display: flex;
    flex-direction: row;
}
.rightbox {
    background-color: rgb(197, 153, 57);
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
.firstbox {
    background-color: rgb(175, 175, 168);
    width: 50%;
    display: flex;
    align-content: end;
    padding-left: 20px;
}
.secondbox {
    background-color: rgb(71, 76, 88);
    flex-grow: 1;
    flex-shrink: 0;
}
.leftbox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: aqua;
}
.firstline {
    flex-grow: 1;
    background-color: rgb(150, 150, 145);
    display: flex;
    flex-direction: column;
    padding-right: 10%;
}
.lineone {
    flex-grow: 1;
    background: url('/project CMF/material/cards.png') no-repeat bottom right / 60%;
}
.linetwo {
    flex-grow: 1;
    background: url('/project CMF/material/cards2.png') no-repeat top right / 60% ;
}
.secondline {
    display: flex;
    background-color: rgb(214, 214, 214);
    flex-grow: 1;
    align-items: center;
    justify-content: start;
    padding-left: 20px;
    font-family:'Courier New', Courier, monospace;
}
.logofooter {
    align-self: flex-end;
    width: 190px;
    height: 120px;
    margin: 10%;
}

#textfooter {
    font-weight: 100;
}
@keyframes divaice {
    to { opacity: 1; transform: scaleX(1) translateY(0)}
}
@keyframes box {
    to { background-size: 100%; background-position: 50% 50%;}
}
#HD {
    font-size: clamp(24px, 5vw, 45px);
}